:root {
  --primary-color: #6c63ff;
  --dark-bg: #121212;
  --darker-bg: #0a0a0a;
  --light-text: #f5f5f5;
  --gray-text: #aaaaaa;
  --card-bg: #1e1e1e;
  --border-color: #2d2d2d;
  --trasition: all 0.3s ease;
}

* {
  margin: 0%;
  padding: 0%;

  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0%;
  padding: 0%;
  line-height: 1.6;
  min-height: 100vh;
  background: linear-gradient(#000, #be1865);
}
html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--dark-bg);
}

input {
  color: var(--gray-text);
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  border-radius: 15px;
  background-color: transparent;
  text-transform: uppercase;
}
h1 {
  color: var(--light-text);
  font-size: 50px;
  text-transform: uppercase;
  font-family: cursive;
  font-weight: bold;

  text-align: center;
  margin-top: 20px;
}
h3 {
  color: var(--gray-text);
  font-size: 30px;

  margin-top: 20px;
  margin-bottom: 20px;
  font-family: cursive;
  font-weight: bold;
  text-transform: uppercase;
}

/* Contact Section */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 3%;
  background-color: #be1865;
  border-radius: 15px;
  color: white;
  padding: 10px 20px;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;

  cursor: pointer;
}
.btn:hover {
  background-color: var(--primary-color);
  color: var(--light-text);
}

.banner {
  height: auto;

  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-content {
  padding: 20px;
}

@media (max-width: 768px) {
  .bnr-img {
    width: 100%; /*  ancho de la imagen  */
    height: 100%;
    object-fit: cover; /*  ajuste de la imagen  */
    position: absolute; /*  posición absoluta  */
    top: 0; /*  parte superior  */
    left: 0; /*  parte izquierda  */
    z-index: -1; /*  índice z negativo  */
    filter: blur(2.1px); /*  desenfoque  */
    opacity: 0.7; /*  opacidad  */
    transition: opacity 0.3s ease-in-out; /*  transición de opacidad  */
  }
  iframe {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.bnr-img {
  width: 100%; /*  ancho de la imagen  */
  height: 100%;
  object-fit: cover; /*  ajuste de la imagen  */
  position: absolute; /*  posición absoluta  */
  top: 0; /*  parte superior  */
  left: 0; /*  parte izquierda  */
  z-index: -1; /*  índice z negativo  */
  filter: blur(3px); /*  desenfoque  */
  opacity: 0.7; /*  opacidad  */
  transition: opacity 0.3s ease-in-out; /*  transición de opacidad  */
}

iframe {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.divFooter1 {
  display: flex; /*  flex para centrar el contenido  */
  justify-content: center; /*  centrar horizontalmente  */
  align-items: center; /*  centrar verticalmente  */
  margin-top: 3%; /*  margen superior  */

  border-radius: 15px; /*  bordes redondeados  */
  color: white; /*  color del texto  */
  padding: 10px 20px; /*  relleno  */
  font-size: 25px; /*  tamaño de fuente  */
  font-weight: bold; /*  negrita  */
  text-decoration: none; /*  sin subrayado  */
  text-align: center; /*  alineación del texto  */

  cursor: pointer;
}
