/* Reajuste general de la tipografía */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Estilo general de la página */
body {
  font-size: 1rem;
  line-height: 1.5;
  background-color: #f4f4f4;
  color: #333;
}

/* Estilo para los productos */
.producto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 15px;
  margin: 15px 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Ajustar la imagen de los productos */
img {
  width: 120px;
  height: auto;
  border-radius: 8px;
}

/* Estilo para los títulos y precios de los productos */
h3,
p,
span {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  color: #333;
  line-height: 1.4rem;
}

/* Estilo de los botones de compra */
.btnCompra {
  background-color: #333;
  color: white;
  font-size: 1.2rem;
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btnCompra:hover {
  background-color: #4caf50;
  color: black;
}

/* Estilo del carrito de compras */
.carrito {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

#productosCarrito {
  margin-top: 20px;
  padding: 10px;
}

#total {
  font-size: 1.5rem;
  margin-top: 20px;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

@media (max-width: 437px) {
  .producto {
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    margin-top: 10px;
  }
  h3,
  p,
  em,
  span {
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    margin-top: 6px;
    margin-bottom: 6px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 25px;
    color: orangered;
  }
}

.btnEliminar {
  background-color: #333;
  color: white;
  box-shadow: 3px 3px 3px #000;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}
.btnEliminar:hover {
  background-color: #cc0000;
}
