* {
  margin: auto;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  margin: 0%;
  padding: 0%;
  line-height: 1.6;
  min-height: 100vh;
  background: linear-gradient(#000, #be1865);
}
.div-items {
  background-color: linear-gradient(#000, #be1865);
  color: white;

  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  width: 30%;
  height: 30%;
  text-align: center;
  padding: 1rem;
}
.btn {
  background-color: black;
  border-radius: 15px;
  color: #6518be;
  font-size: 25px;
}
.btn:hover {
  background-color: green;
  color: white;
}
.label,
h3,
input,
p {
  font-size: 32px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  border-radius: 15px;
  border: #6518be;
}
img {
  width: 100%;
  height: 100%;
}
header,
h1 {
  display: flex; /*  pantalla flexible  */
  font-family: "Big Shoulders Stencil", cursive;
  color: #be1865;
  align-items: center; /*  alineación central  */
  height: 80px; /*  altura del contenedor  */

  justify-content: space-between; /*  alineación horizontal  */
  background-color: rgb(19, 3, 20); /*  color de fondo  */

  text-transform: uppercase; /*  texto en mayúsculas  */
  font-size: 54px; /*  tamaño de fuente  */
}
