:root {
  --primary-color: #6c63ff;
  --dark-bg: #121212;
  --darker-bg: #0a0a0a;
  --light-text: #f5f5f5;
  --gray-text: #aaaaaa;
  --card-bg: #1e1e1e;
  --border-color: #2d2d2d;
  --trasition: all 0.3s ease;
}
* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  margin: 0%;
  padding: 0%;
  line-height: 1.6;
  min-height: 100vh;
}
html {
  scroll-behavior: smooth; /* desplazamiento suave */
  scrollbar-width: thin; /* ancho del scrollbar */
  scrollbar-color: var(--primary-color) var(--dark-bg); /* color del scrollbar */
}
h1 {
  color: var(--darker-bg);
  line-height: 1.8em;
  font-size: 80%; /*  tamaño de fuente  */
  text-align: center;
  text-transform: uppercase; /* texto en mayúsculas */
  font-size: 2.5em; /*  tamaño de fuente  */
  font-weight: var(--txt-font); /*  negrita  */
}

.menu-toggle {
  text-decoration: none;
  display: flex; /*  pantalla flexible  */
  flex-direction: row; /*  dirección de los elementos  */
  align-items: center; /*  alineación central  */
  height: 100px; /*  altura del contenedor  */
  width: 100%; /*  ancho del contenedor  */
  justify-content: space-around; /*  alineación horizontal  */
  gap: 14px;

  text-transform: uppercase; /* texto en mayúsculas */
  font-size: 23px; /*  tamaño de fuente  */
}
.menu-toggle,
a {
  list-style: none; /*  sin viñetas  */
  text-decoration: none; /*  sin subrayado  */
  color: var(--darker-bg); /* color del texto */
  font-weight: bold; /*  negrita  */
  background-color: transparent;
}
.menu-toggle a:hover {
  box-shadow: 0 0 10px #be1865;
  border-radius: 10px;
}

.links {
  text-decoration: none;
  color: var(--gray-text);
  background-color: var(--card-bg);
}
.links:hover {
  background-color: var(--darker-bg); /*  color de fondo  */
  color: var(--txt-color); /* color del texto */
  font-family: var(--txt-font); /*  negrita  */
}

@media (max-width: 768px) {
  .menu-toggle,
  .menu-icon {
    flex-direction: space-around; /*  dirección de los elementos  */
    justify-content: center; /*  alineación horizontal  */
    margin-top: 15px;
    align-items: center;
    text-decoration: none;
    list-style: none;
  }
  .menu-toggle,
  .menu-icon:hover {
    background: linear-gradient(#000, #be1865);

    box-shadow: 0 0 10px #be1865;
    border-radius: 10px;
  }
}

.banner {
  height: 500px;

  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--darker-bg);
  background-color: transparent; /*  color de fondo  */
  text-align: center;
}

.banner-content {
  padding: 20px;
}

.banner p {
  font-size: 1.8em;
  margin-bottom: 30px;
  color: var(--darker-bg);
  font-weight: 600;
  border-radius: 35px;
  background-color: transparent; /*  color de fondo  */
}

.cta-button {
  background-color: transparent; /*  color de fondo  */
  color: var(--gray-text);
  padding: 15px 30px;

  border-radius: 25px;
  font-size: 1.1em;
  cursor: pointer;
}

.cta-button:hover {
  background-color: var(--primary-color); /*  color de fondo  */
  color: transparent;
}

@media (max-width: 768px) {
  .banner h1 {
    font-size: 2.5em;
  }
  .bnr-img {
    width: 100%; /*  ancho de la imagen  */
    height: 100%;
    object-fit: cover; /*  ajuste de la imagen  */
    position: absolute; /*  posición absoluta  */
    top: 0; /*  parte superior  */
    left: 0; /*  parte izquierda  */
    z-index: -1; /*  índice z negativo  */
    filter: blur(2.1px); /*  desenfoque  */
    opacity: 0.7; /*  opacidad  */
    transition: opacity 0.3s ease-in-out; /*  transición de opacidad  */
  }
}

.bnr-img {
  width: 100%; /*  ancho de la imagen  */
  height: 100%;
  object-fit: cover; /*  ajuste de la imagen  */
  position: absolute; /*  posición absoluta  */
  top: 0; /*  parte superior  */
  left: 0; /*  parte izquierda  */
  z-index: -1; /*  índice z negativo  */
  filter: blur(1px); /*  desenfoque  */
  opacity: 0.7; /*  opacidad  */
  transition: opacity 0.3s ease-in-out; /*  transición de opacidad  */
}

#menu-toggle {
  display: none; /*  ocultar el menú  */
}

.menu-icon {
  cursor: pointer;
  padding: 10px;
  background-color: transparent; /*  color de fondo  */
  color: var(--gray-text);
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 2;
  width: 55px; /*  ancho del icono  */
  height: 55px; /*  altura del icono  */
  display: flex; /*  pantalla flexible  */
  align-items: center;
  justify-content: center;

  border-radius: 80%;
}
.menu-icon::before {
  content: "\2630"; /*  icono de menú  */
  font-size: 50px; /*  tamaño del icono  */
  color: var(--gray-text); /*  color del icono  */
  background-color: transparent; /*  color de fondo  */
}
#menu-toggle:checked + .menu-icon::before {
  content: "\2715"; /*  icono de cerrar  */
  font-size: 50px; /*  tamaño del icono  */
  color: var(--gray-text); /*  color del icono  */
  background-color: transparent; /*  color de fondo  */
}

.sidebar {
  height: 100vh; /*  altura de la barra lateral  */
  width: 250px; /*  ancho de la barra lateral  */
  position: fixed; /*  posición fija  */
  top: 0; /*  parte superior  */
  left: -250px; /*  parte izquierda  */
  background-color: transparent; /*  color de fondo  */
  color: var(--gray-text);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none; /*  sin subrayado  */
  font-size: 25px; /*  tamaño de fuente  */
  color: var(--darker-bg); /* color del texto */
  display: block; /*  bloque  */
  transition: 0.3s; /*  transición  */
  background: transparent; /*  color de fondo  */
}
.sidebar a:hover {
  color: var(--gray-text); /*  color de fondo  */
  background-color: var(--primary-color); /*  color de fondo  */
}
#menu-toggle:checked + .menu-icon + .sidebar {
  left: 0; /*  parte izquierda  */
}
