* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  margin: 0%;
  padding: 0%;
  line-height: 1.6;
  min-height: 100vh;
  background: linear-gradient(#000, #be1865);
}

.container {
  text-decoration: none;
  display: flex; /*  pantalla flexible  */
  flex-direction: row; /*  dirección de los elementos  */
  align-items: center; /*  alineación central  */
  height: 100px; /*  altura del contenedor  */

  justify-content: space-between; /*  alineación horizontal  */
  gap: 14px;

  text-transform: uppercase; /* texto en mayúsculas */
  font-size: 23px; /*  tamaño de fuente  */
}

.nav-menu,
a {
  text-decoration: none;
}

@media (max-width: 511px) {
  header,
  nav,
  .container {
    flex-direction: column;
    margin-top: 15px;
    align-items: center;
    text-decoration: none;
    list-style: none;
  }
}
